:host {
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background: var(--secondary);
  border-radius: 12px;
}

.task-buttons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.username {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}

@media screen and (max-width: 640px) {
  .task-buttons {
    flex-direction: column;
    width: 100%;
    row-gap: 10px;

    button {
      flex: 1;
      width: 100%;
    }
  }
}
